<template name="home">
<div class="jumbotron">
	<h1>Генератор кодов</h1>

	<form class="form-horizontal">
	    <fieldset>
	        <legend>Генератор кодов</legend>
	        <div class="form-group">
	            <label for="codesNum" class="col-lg-2 control-label">Количество кодов</label>
	            <div class="col-lg-10">
	            	<input type="text" class="form-control" rows="1" id="codesNum" placeholder="Количество кодов" value="100">
	                <span class="help-block">Результаты генерации свыше 100 строк выводятся в файл. Ограничение - 25000 строк.</span>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="codeLength" class="col-lg-2 control-label">Шаблон строки</label>
	            <div class="col-lg-10">
	            	<input type="text" class="form-control" rows="1" id="codeLength" placeholder="Укажите шаблон генерируего кода" value="????-????-????-????">
	                <span class="help-block">Настройте шаблон. В качестве генерируемых символов используйте вопросительный знак - "?". Максимальное количество генерируемых сиволов в строке - 20.</span>

	            </div>
	        </div>
	        <div class="form-group">
	            <label class="col-lg-2 control-label">Раскладка</label>
	            <div class="col-lg-10">
	                <div class="radio radio-primary">
	                    <label>
	                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
	                        Только латиница
	                    </label>
	                </div>
	                <div class="radio radio-primary">
	                    <label>
	                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	                        Только кириллица
	                    </label>
	                </div>
	                <div class="radio radio-primary">
	                    <label>
	                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
	                        Смешать латиницу и кириллицу
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label>
	                        <input type="checkbox" checked> Использовать большие буквы
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label>
	                        <input type="checkbox"> Использовать маленькие буквы
	                    </label>
	                </div>
	                <div class="checkbox">
	                    <label>
	                        <input type="checkbox"> Использовать числа
	                    </label>
	                </div>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="unic" class="col-lg-2 control-label">Уникальность</label>
	            <div class="col-lg-10">
		            <div class="checkbox">
		                <label>
		                    <input type="checkbox"> Только уникальные значения
		                </label>
		            </div>
	            </div>
	        </div>
	        <div class="form-group">
	            <label for="exceptSymbols" class="col-lg-2 control-label">Исключить символы</label>
	            <div class="col-lg-10">
	            	<input type="text" class="form-control" rows="1" id="exceptSymbols" placeholder="Максимальная длина - 20 символов" value="ACEIOUYaceilouyАЕЁИЙОРСТУХЩЭЮЯ10">
	                <span class="help-block">указанные символы не будут использоваться при генерации кодов.</span>

	            </div>
	        </div>

	        <div class="form-group">
	            <div class="col-lg-10 col-lg-offset-2">
	                <button class="btn btn-default">Cancel</button>
	                <button type="submit" class="btn btn-primary">Submit</button>
	            </div>
	        </div>
	    </fieldset>
	</form>
</div>
</template>