<template name="generator">
	<h1>Список кодов</h1>
	<table class="table table-striped table-hover ">
	    <thead>
	        <tr>
	            <th>#</th>
	            <th>Column heading</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	            <td>1</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>2</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>3</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>4</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>5</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>6</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>7</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>8</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>9</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>10</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>11</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>12</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>13</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>14</td>
	            <td>Column content</td>
	        </tr>
	        <tr>
	            <td>15</td>
	            <td>Column content</td>
	        </tr>
	    </tbody>
	</table>
</template>